.App {
  display: block;
  margin: 15px 12px 0px;
  min-width: 259px;
  unicode-bidi: isolate;
  position:relative;
}

@media(min-width: 1024px){
  .App{
    align-self: stretch;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    max-width: 1400px;
  }

  .pageContent{
    margin: 0;
    min-width: 75%;
    width: 75%;
  }
}