.App {
  display: block;
  margin: 15px 12px 0px;
  min-width: 259px;
  unicode-bidi: isolate;
}

.toastNotification{
  /* position: fixed;
  height: fit-content;
  background-color: red;
  z-index: 1;
  width: 50%;
  right: 0; */
}

@media (min-width: 580px){
  .App{
    /* margin-bottom: 100px; */
    /* margin-top: 8%; */
  }
}

/* @media(min-width: 1024px){
  .App{
    margin-bottom: 60px;
  }

  .pageContent{
    margin: auto;
    position: relative;
    min-width: 75%;
    width: 75%;
  }
} */

@media(min-width: 1024px){
  .App{
    align-self: stretch;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    max-width: 1200px;
  }

  .pageContent{
    /* margin: 0; */
    min-width: 75%;
    width: 75%;
  }
}