.headerContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8%;
    background-color: var(--blue-800);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contentArea {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
}

.leftSide{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 10px;
}

.headerLogo {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.headerLogo img {
    height: 80%;
    object-fit: contain;
}

.menuToggle {
    display: flex;
    align-items: center;
    aspect-ratio: 1;
    height: 40%;
    position: absolute;
    right: 10px;
}

.menuToggle input {
    display: none;
}

.hamburger-lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.menuToggle input:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
    width: 125%;
}

.menuToggle input:checked~.hamburger-lines .line2 {
    opacity: 0;
}

.menuToggle input:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
    width: 125%;
}

.headerText{
    color: var(--light-gray);
    font-size: 1.55rem;
}

.headerLogo:hover{
    cursor: pointer;
}